#!/bin/bash

{% for domaene in domaenen|dictsort %}
systemctl stop yanic-d{{domaene[0]}} ||:
{% endfor %}

{% for domaene in domaenen|dictsort %}
systemctl start yanic-d{{domaene[0]}} ||:
{% endfor %}
