server {
    listen 80;
    listen [::]:80;
    server_name {{ http_nginx_external }} {{ http_nginx_internal }};
    include /etc/nginx/snippets/redirect-to-ssl.conf;
    include /etc/nginx/snippets/proxy_pass.conf;
    include /etc/nginx/snippets/letsencrypt-acme-challenge.conf;
    root {{ nginx_data_path }};
}
server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ http_nginx_external }} {{ http_nginx_internal }};
    # selfsigned dummy
    # ssl_certificate     /etc/nginx/ssl/{{ inventory_hostname_short }}.{{ http_domain_external }}/fullchain.pem;
    # ssl_certificate_key /etc/nginx/ssl/{{ inventory_hostname_short }}.{{ http_domain_external }}/privkey.pem;

    # letsenrypt
    ssl_certificate /etc/ssl/fullchain.pem;
    ssl_certificate_key /etc/ssl/key.pem;
    
    include /etc/nginx/snippets/gzip.conf;
    include /etc/nginx/snippets/proxy_pass.conf;
    include /etc/nginx/snippets/letsencrypt-acme-challenge.conf;
    
    root {{ nginx_data_path }};
    
}
